<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="NflConnectionString" connectionString="Provider=VFPOLEDB.1;Data Source=d:\\tfl\\nfl\\team.dbf" />
		<add name="TflConnectionString" connectionString="Provider=VFPOLEDB.1;Data Source=d:\\tfl\\tycoon\\comp.dbf" />
		<add name="CtlConnectionString" connectionString="Provider=VFPOLEDB.1;Data Source=d:\\tfl\\tfl_ctl.dbf" />
		<add name="NflConnectionString-C" connectionString="Provider=VFPOLEDB.1;Data Source=c:\\tfl\\nfl\\team.dbf" />
		<add name="TflConnectionString-C" connectionString="Provider=VFPOLEDB.1;Data Source=c:\\tfl\\tycoon\\comp.dbf" />
		<add name="CtlConnectionString-C" connectionString="Provider=VFPOLEDB.1;Data Source=c:\\tfl\\tfl_ctl.dbf" />
	</connectionStrings>
	<appSettings>
		<add key="PrimaryDrive" value="d" />

		<add key="GameLogFolder" value="l://apps//GameLog//" />
		<add key="DropboxFolder" value="D://Dropbox//" />
		<add key="ObsidianFolder" value="D:\\Dropbox\\Obsidian\\ChestOfNotes\\" />
		<add key="JsonFolder" value="D:\\Dropbox\\JSON\\" />
		<add key="CsvFolder" value="d://Dropbox//Csv//" />
		<add key="YahooXmlFile" value="D:\\Dropbox\\GridStat\\XML\\YahooOutput.xml" />
		<add key="XmlFolder" value="D:\\Dropbox\\GridStat\\XML\\" />

		<add key="OutputDirectory" value="d://Dropbox//GridStat//" />
		<add key="XmlDirectory" value=".//xml//" />

		<add key="log-directory" value=".//logs//" />

		<add key="tfl-directory" value="d://tfl//" />

	</appSettings>	
</configuration>